<!DOCTYPE html>
<html>
    <head>
        <title>UFFB Event Tickets</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <section>
            <div class="product">
                <img src="https://images.squarespace-cdn.com/content/v1/5f739670761e02764c54e1ca/41ea860d-2088-4638-ada4-8d4858a586a3/UFFB+logo.jpg?format=500w" alt="Image of ticket" />
                <div class="description">
                    <h3>UFFB After Party Ticket</h3>
                    <h5>10 EUR</h5>
                </div>
            </div>
            <form action="/stripeCheckoutSession" method="POST">
                <button type="submit" id="checkout-button">Checkout</button>
            </form>
        </section>
    </body>
</html>